.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor > div {
    background-color: #FFF;
    width: auto;
    margin: 0px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
}