.login-form {
    width: 70%;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #cacacaad;
    box-shadow: 0px 2px 2px rgba(66, 6, 134, 0.376);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.btn {       
    font-weight: bold;
}

@media screen and (min-width: 1000px){
    .login-form {
        width: 30%;
    }
}